@model ContactsApp.Models.ContactPhoneNumber

<div class="form-group">
    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ContactId)
        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
       
        
        <div class="form-actions no-color">
            <button type="button" data-id="@Model.Id"class="delete-phone btn btn-default">Delete</button>
        </div>
    </div>
</div>
