@using ContactsApp.Data
@model IEnumerable<ContactsApp.Models.Contact>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    @*<link rel="stylesheet" href="/Content/bootstrap.min.css">*@
</head>
<body>
    <p style="margin-left: 0.5rem; margin-top:0.5rem">
        @Html.ActionLink("Create New", "Create")
    </p>

@if (ViewBag.Searching == true)
{
    <div style="margin-left: 0.5rem; margin-bottom:0.5rem">
        @Html.ActionLink("Go Home", "Index")
    </div>
   
}

<div>

    <form action="/contacts/searching" method="get">

        <div class="d-flex form-group" id="searchInfo">
            
            <select name="field" class="mr-2 ml-2" id="field">
                @foreach (var option in EnumHelper.GetSelectList(typeof(ContactSearchFieldTypes)))
                {
                    <option value="@option.Value">@option.Text</option>
                }
            </select>

            <input name="text" class="mr-2 form-control" id="text" style="width: 15rem" />

            <button type="submit" id="goSubmitButton" class="btn btn-primary">
                Find
                <i class="fas fa-search text-white" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</div>


<table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.LastName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Patronymic)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Company)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Position)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ContactInformation)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.PhoneNumbers)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Skype)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Other)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody id="informationTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td> @Html.DisplayFor(modelItem => item.Patronymic)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                    <td> @Html.DisplayFor(modelItem => item.Company)</td>
                    <td>@Html.DisplayFor(modelItem => item.Position)</td>
                    <td> @Html.DisplayFor(modelItem => item.ContactInformation)</td>

                    <td>
                        <div>
                            @foreach (var phone in item.PhoneNumbers)
                            {
                                if (phone.IsDeleted == false)
                                {
                                    @Html.DisplayFor(modelItem => phone)
                                }
                            }
                        </div>
                    </td>

                    <td> @Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Skype)</td>
                    <td> @Html.DisplayFor(modelItem => item.Other)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>



</body>
</html>
